*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    background-color: #141414; 
    color: #ffffff;            
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


img, video {
    max-width: 100%;
    display: block; 
}